<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{/fragments/navigation :: nav}"></nav>
<div th:replace="~{/fragments/userDetails :: userInfo}"></div>
<br>
<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h4>Create Employee</h4>
        </div>
        <div class="card-body">
            <form action="#" method="post" role="form"
                  th:action="@{/admin/saveNewEmployee}" th:object="${employeeDto}">

                <div class="form-group mb-3">
                    <label class="form-label">Last Name</label>
                    <input class="form-control" th:field="*{lastName}"
                           type="text" id="lastName" name="lastName" placeholder="Enter Last Name">
                    <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}" ></p>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">First Name</label>
                    <input class="form-control" th:field="*{firstName}"
                           type="text" id="firstName" name="firstname" placeholder="Enter First Name">
                    <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" th:field="*{email}"
                           type="email" id="email" name="email" placeholder="Enter Email">
                    <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control" th:field="*{password}"
                           type="text" id="password" name="password" placeholder="Enter Password">
                    <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Phone Number</label>
                    <input class="form-control" th:field="*{phoneNumber}"
                           type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter Phone number">
                    <p th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger" th:errors="*{phoneNumber}"></p>
                </div>
                <div class="form-group mb-3">
                    <p> Select Employee Role:
                        <select name="EmployeeRole">
                            <option value=""
                                    th:each="employeeRole : ${T(com.amsysytem.enums.EmployeeRole).values()}"
                                    th:text="${employeeRole.displayText}"
                                    th:value="${employeeRole.name()}"
                            >
                            </option>
                        </select>
                    </p>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Due Days (0 - 52)</label>
                    <input class="form-control" th:field="*{remainingDays}"
                           type="number" id="remainingDays" name="remainingDays" placeholder="Enter Remaining Days">
                    <p th:if="${#fields.hasErrors('remainingDays')}" class="text-danger" th:errors="*{remainingDays}"></p>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Save Employee</button>
                </div>

            </form>
            <div class="mb-3">
                <h5>
                    <a th:href="@{/admin/employees}">Proceed to Employee List</a>
                </h5>
            </div>
            <div>
                <h5>
                    <a th:href="@{/admin}">Back to Admin Space</a>
                </h5>
            </div>
        </div>
    </div>
</div>
</body>
</html>
