<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{/fragments/navigation :: nav}"></nav>
<br>
<div class="container">
    <div class="text-center">
        <div>
            <h3>This is Admin Space.</h3>
        </div>
        <hr>
        <br>
        <p>
        <div>
            <a th:href="@{/admin/employees}">
                <h3>All Employee List</h3>
            </a>
        </div>
        </p>
        <p>
        <div>
            <a th:href="@{/admin/newEmployee}">
                <h3>Add New Employee</h3>
            </a>
        </div>
        </p>
        <p>
        <div>
            <a th:href="@{/admin/listRequestsAdminMode}">
                <h3>All Requests List</h3>
            </a>
        </div>
        </p>
        <br>
        <p>
        <div class="mb-3">
            <a th:href="@{/index}">Back to Home</a>
        </div>
        </p>
    </div>
</div>
</body>
</html>


