<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{/fragments/navigation :: nav}"></nav>
<br>

<div class="container">
    <div class="row">
        <h1>List of Employees (manager-mode)</h1>
    </div>
    <br>
    <table class="table table-striped table-hover table-bordered table-primary">
        <thead>
        <tr>
            <th>Id</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Employee Role</th>
            <th>Due Days</th>
            <th>
                <div class="text-center">
                    Requests
                </div>
            </th>
            <th>
                <div class="text-center">
                    Show Details
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeDtoList}" th:object="${employee}">
            <td th:text="*{id}"></td>
            <td th:text="*{lastName}"></td>
            <td th:text="*{firstName}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{phoneNumber}"></td>
            <td th:text="*{employeeRole}"></td>
            <td th:text="*{dueDays}"></td>
            <td>
                <div class="text-center">
                    <a href="" class="btn btn-info btn-sm">Requests</a>
                    <!--                todo link to given employee requests-->
                </div>

            </td>
            <td>
                <div class="text-center">
                    <a th:href="@{/employees/{employeeDtoId}/detailsManagersSpace(employeeDtoId=${employee.id})}"
                       class="btn btn-primary btn-sm">Details</a>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/manager}">Back to Manager Space</a>
    </div>
</div>
</body>
</html>

<!-- todo remove duplicate code from navbar in all templates-->
