<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{/fragments/navigation :: nav}"></nav>
<br>

<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>Employee Details</h2>
        </div>
        <div class="card-body">
            <form action="#"
                  method="get"
                  role="form"
                  th:action="@{/employees/{employeeDtoId}(employeeDtoId=${employeeDetailsDto.id})/detailsManagersSpace}"
                  th:object="${employeeDetailsDto}">

                <!--        <div class="">-->
                <!--          <input class="form-control" th:field="*{id}"-->
                <!--                 type="hidden" id="id" name="id">-->
                <!--        </div>-->
                <h5>
                    <p>Id: <span th:text="${employeeDetailsDto.id}"></span></p>
                    <p>Last Name: <span th:text="${employeeDetailsDto.lastName}"></span></p>
                    <p>First Name: <span th:text="${employeeDetailsDto.firstName}"></span></p>
                    <p>Email: <span th:text="${employeeDetailsDto.email}"></span></p>
                    <p>Phone number: <span th:text="${employeeDetailsDto.phoneNumber}"></span></p>
                    <p>Role: <span th:text="${employeeDetailsDto.employeeRole}"></span></p>
                    <p>Due Days: <span th:text="${employeeDetailsDto.dueDays}"></span></p>
                </h5>
            </form>
            <div class="mb-3">
                <a th:href="@{/manager/managersList}">Back to Employees List</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<!--</body>-->
<!--</html>-->
