<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{/fragments/navigation :: nav}"></nav>
<br>
<div class="container">
    <div class="text-center">
        <div>
            <h3>This is Home Page. (for manual testing purposes)</h3>
        </div>
        <hr>
        <br>
        <div>
            <a th:href="@{/admin}">
                <h3>Admin Space</h3>
            </a>
        </div>
        <br>
        <div>
            <a th:href="@{/user}">
                <h3>User Space</h3>
            </a>
        </div>
        <br>
        <div>
            <a th:href="@{/manager}">
                <h3>Manager Space</h3>
            </a>
        </div>
    </div>
</div>
</body>
</html>
