<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{/fragments/navigation :: nav}"></nav>
<br>
<div class="container">
    <div class="text-center">
        <div>
            <h1>This is Manager Space.</h1>
        </div>
        <br>
        <br>
        <p>
            <div>
                <a th:href="@{employees/managersList}">
                    <h3>All Employee List</h3>
                </a>
            </div>
        </p>
        <p>
            <div>
                <a th:href="@{/listRequestsManagerMode}">
                    <h3>All Requests List</h3>
                </a>
            </div>
        </p>
        <br>
        <p>
        <div class="mb-3">
            <a th:href="@{/index}">Back to Home</a>
        </div>
        </p>
    </div>

</div>
</body>
</html>

<!--todo Employee Management == Home th:href-->
