<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{/fragments/navigation :: nav}"></nav>
<div th:replace="~{/fragments/userDetails :: userInfo}"></div>

<div class="container">
    <div class="text-center">
        <div>
            <h3>Your Company Home Page. Managers Space.</h3>
        </div>
        <hr>
        <br>
        <br>
        <p>
        <div>
            <h3>
                <a th:href="@{/manager/managersList}">All Employee List</a>
            </h3>
        </div>
        </p>
        <p>
        <div>
            <h3>
                <a th:href="@{/manager/listRequestsManagerMode}">All Requests List</a>
            </h3>
        </div>
        </p>
        <br>
        <p>
        <div class="mb-3">
            <h5>
                <a th:href="@{/index}">Back to Home</a>
            </h5>
        </div>
        </p>
    </div>
</div>
</body>
</html>
