<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{/fragments/navigation :: nav}"></nav>
<div th:replace="~{/fragments/userDetails :: userInfo}"></div>
<div class="container">
    <div class="text-center">
        <h3>My Requests list</h3>
    </div>
    <hr>
    <br>
    <table class="table table-striped table-hover table-bordered table-primary">
        <thead class="text-center">
        <tr>
            <th>Id</th>
            <th>Date-Time Created</th>
            <th>Starting Date</th>
            <th>Ending Date</th>
            <th>Days Count</th>
            <th>Remaining Days</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="request : ${requestDtoList}" th:object="${request}">
            <td th:text="*{id}"></td>
            <td th:text="*{#temporals.format(dateTimeCreated, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="*{startingDate}"></td>
            <td th:text="*{endingDate}"></td>
            <td th:text="*{daysCount}"></td>
            <td th:text="*{remainingDays}"></td>
            <td th:text="*{status}"></td>
            <td>
                <a th:if="${request.status.name().equals('PENDING')}"
                   th:href="@{{requestDtoId}/delete(requestDtoId=${request.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Delete this request?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <h5>
            <a th:href="@{/user/addNewRequest}">Add New Request</a>
        </h5>
    </div>
    <div>
        <h5>
            <a th:href="@{/user}">Back to Home</a>
        </h5>
    </div>
    <hr>
    <div>
        <h6>
                * You can use Delete button only when Status is PENDING <br>
                * Your Days Count limit is 26 per year. All Requests exceeding 26 days are going to be rejected
                by Your Manager.
        </h6>
    </div>
</div>
</body>
</html>
