<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{/fragments/navigation :: nav}"></nav>
<br>
<div class="container">
    <div class="row">
        <h1>Requests List - manager mode</h1>
    </div>
    <br>
    <table class="table table-striped table-hover table-bordered table-primary">
        <thead>
        <tr>
            <th>Id</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Date-Time Created</th>
            <th>Starting Date</th>
            <th>Ending Date</th>
            <th>Days Count</th>
            <th>Due Days</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requestDtoList}" th:object="${request}">
            <td th:text="*{id}"></td>
            <td th:text="*{lastName}"></td>
            <td th:text="*{firstName}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{dateTimeCreated}"></td>
            <td th:text="*{startingDate}"></td>
            <td th:text="*{endingDate}"></td>
            <td th:text="*{daysCount}"></td>
            <td th:text="*{dueDays}"></td>
            <td th:text="*{status}"></td>
            <td>
                <a th:href="@{/listRequestsAdminMode/{requestDtoId}/edit(requestDtoId=${request.id})}"
                   class="btn btn-info btn-sm">Edit</a>
                <!--    todo           edit request by admin not working-->
                <a th:href="@{listRequestsAdminMode/{requestDtoId}/delete(requestDtoId=${request.id})}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Delete this request?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div>
        <a th:href="@{/manager}">Back to Manager Space</a>
    </div>
</div>
</body>
</html>
