<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<div th:replace="~{fragments/userDetails :: userInfo}"></div>
<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>Create New Request</h3>
        </div>
        <div class="card-body">
            <form action="#" method="post" role="form"
                  th:action="@{/saveNewRequest}" th:object="${requestDtoToAdd}">
                <div class="form-group mb-3">
                    <label for="startingDate" class="form-label">Starting Date</label>
                    <input class="form-control" th:field="*{startingDate}"
                           type="date" id="startingDate" placeholder="Enter Starting Date">
                    <p th:if="${#fields.hasErrors('startingDate')}" class="text-danger" th:errors="*{startingDate}"></p>
                </div>

                <div class="form-group mb-3">
                    <label for="endingDate" class="form-label">Ending Date</label>
                    <input class="form-control" th:field="*{endingDate}"
                           type="date" id="endingDate" placeholder="Enter Ending Date">
                    <p th:if="${#fields.hasErrors('endingDate')}" class="text-danger" th:errors="*{endingDate}"></p>
                </div>

                <div class="form-group mb-3">
                    <label for="daysCount" class="form-label">Days Count</label>
                    <input class="form-control" th:field="*{daysCount}"
                           type="number" id="daysCount" placeholder="Enter Days Count">
                    <p th:if="${#fields.hasErrors('daysCount')}" class="text-danger" th:errors="*{daysCount}"></p>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary btn-sm" type="submit">Save New Request</button>
                </div>
            </form>
            <div class="mb-3">
                <h5>
                    <a th:href="@{/user}">Back to Home</a>
                </h5>
            </div>
            <div>
                <h6>
                    * Days Count - Count working days. Your Manager is going to check/correct it.
                    <br>
                    * If You are not sure how to count working days - select 0.
                </h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>
